@import '../../components/utils/mixins.scss';
@import '../../components/utils/vars.scss';

.logo {
  position: relative;

  @include onTablet {
    display: none;
  }

  &__svg {
    width: 72px;
    height: 40px;
  }

  &__dom {
    position: absolute;
    top: 8px;
    left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: $mainBlack;
    line-height: 22px;
    text-decoration: none;
  }
}
