@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.category {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  padding: 20px 70px 20px 16px;
  border: 1px solid $border;
  border-radius: 4px;
  text-decoration: none;

  @include onTablet {
    width: 90px;
    padding: 16px 20px 8px;
    flex-direction: column-reverse;
    gap: 8px;
  }

  &__img {
    width: 48px;
    height: 48px;
  }

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: $mainBlack;

    @include onTablet {
      font-size: 10px;
    }
  }
}
