$white: #fff;
$mainBlack: #222;
$border: #E6ECF5;
$backgroundWhite: #F4F4F4;
$textColor: #575757;
$blueColor: #0072DB;
$lightTextColor: #DBDBDC;
$boxShadowImg: 10px 20px 100px rgba(34, 34, 34, 0.15);
